{
  "presets": [
    ["env", {
      "targets": {
        "node": "6.11.1"
      }
    }]
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "coverage": {
      "plugins": [
        "istanbul",
      ]
    }
  }
}
